<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycling">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- com.example.recycling.controller.MainActivity actúa como la entrada principal de la aplicación -->
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AgregarProductoActivity es el controlador para la funcionalidad de agregar productos -->
        <activity
            android:name=".controller.AgregarProductoActivity"
            android:label="@string/title_activity_agregar_producto"
            android:exported="false" />

        <!-- BuscarProductoActivity es el controlador para la funcionalidad de buscar productos -->
        <activity
            android:name=".controller.BuscarProductoActivity"
            android:label="@string/title_activity_buscar_producto"
            android:exported="false" />

        <!-- ModificarProductoActivity es el controlador para la funcionalidad de modificar productos -->
        <activity
            android:name=".controller.ModificarProductoActivity"
            android:label="@string/title_activity_modificar_producto"
            android:exported="false" />
        <!-- ResultadosBusquedaActivity es el controlador para la funcionalidad de mostrar los productos encontrados-->
        <activity android:name=".controller.ResultadosBusquedaActivity"></activity>

        <!-- InfoProductoActivity es el controlador para la funcionalidad de mostrar los datos del producto seleccionado-->

        <activity android:name=".controller.InfoProductoActivity"></activity>

    </application>
</manifest>
